.article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px;
}

.imgContainer {
  width: 300px;
  margin-right: 20px;
}

.right {
  flex: 1; 
}

.extra {
  width: 100%;
  margin-top: 20px;
}

@media(max-width: 767px) {
  .imgContainer {
    width: 100%;
    margin-right: 0;
  }

  .imgContainer {
    margin-bottom: 20px;
  }
}

