.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.topBar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 2;
  height: 50px;
}

.topBarContent {
  flex: 1;
  display: flex;
  justify-content: center;
}