.nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: all 150ms ease;
  z-index: 1;
}

.section {
  flex: 0 0 auto;
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.section::after {
  content: '';
  bottom: -3px;
  width: 80%;
  position: absolute;
  height: 3px;
  background-color: white;
  z-index: 4;
  border-radius: 3px 3px 0 0;
  transition: all 200ms ease;
}

.section.selected::after, .section:hover::after {
  bottom: 0px;
}